textarea {
    height: 100px;
    font-size: 24px;
    padding: 10px;
}

div {
    display: flex;
    justify-content: center;
}

button {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
    font-size: 24px;
    border-radius: 10px;
}
  
button:hover {
    background-color: blue;
    color: white;
}
